extends ../layout

block content
    .container
        .row
            .col-md-8.col-md-offset-2
                h1 Categories
                button.btn.btn-default.add-cat-btn(type='button')
                    a(data-toggle='modal', data-target='#add-category', href='#add-category') Add Category
        

    .container.category-list
        .row
            .col-md-8.col-md-offset-2
                if categories
                    ul.list-group
                        each type in categories
                            li.list-group-item
                                a(href='/categories/#{type.title}', class='name-category')
                                    !=type.title
                                span.category-btn
                                    button.btn.btn-danger.del-cat-btn(type='button', data-toggle='modal', data-target='#del-category', data-id='#{type.title}') Delete
                                    
                                span.category-btn
                                    button.btn.btn-primary.edit-cat-btn(type='button', data-toggle='modal', data-target='#edit-category', data-id='#{type.title}') Edit
                                span.badge
                                    !=23
    
    
            
    include ../templates/category_modal.jade