extends ../layout

block content
  h1 Members Area
  p Welcome to members area

  <button type="submit" class="btn btn-default"><a href="/posts/newpost">Add Post</a></button>
  <button type="submit" class="btn btn-default"><a href="/posts/newcategory">Add Category</a></button>

  .container
    if posts
        each post in posts
            .post
                h1 #{post.title} on #{moment(post.date).format("MM-DD-YYYY")}
